.list-group-item{
    margin-bottom: 10px;
    background-color: aqua;
}
.form-group{
    margin-bottom: 10px;
} 

#register-block{
    position: relative;
    width: 55%;
    padding: 60px;
}

.user-info-list li{
    display: flex;
}

.user-info-list p{
    margin-left: 5px;
}