{% extends 'base.html' %}

{% block page_title %}
    Tasks Page
{% endblock %}

{% block content %}
<div class="list-group">
    {% for task in tasks %}   
        <a href="#" class="list-group-item list-group-item-action ">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"> {{ task.title }} </h5>
            <small> {{ task.deadline }} </small>
            </div>
            <p class="mb-1"> {{ task.description }} </p>
            <small> Created by {{ task.author }} </small>
        </a>
    {% endfor %}
</div>

{% endblock content %}